
.landing{
  min-height: 100vh;
  width: 100vw;
  margin-top: 70px;
  background: #ffffff;


}
.visionPage{
  width: 100vw;
  min-height: 100vh;
  display:flex;
  position: relative;
  background-size: cover;
  background-image:url('/landing.jpg') ;
}
.tint{
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100%;

}
.visionText{
  width: 90%;
  max-width: 500px;
  font-weight: 500;
  font-size: 1.25rem;
  padding-left: 50px;
  color: #949494;
  padding-top: 10px;
  animation: forwards 1s ease pop;

}
.vision{
  padding-left: 50px;
  padding-top: 10%;
  font-weight: 300;
  font-size: 2.75rem;
  
  animation: forwards 1s ease pop;
  color: #fff;
}
.logoDiv{
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
  flex-direction: row;
}
.landing h1{
  
  padding-top:  calc(10px + 5vh);
  font-size: 76px;
  padding-left: 50px;
  font-weight: 300;
  
}
.sideImage{
  width: 35%;
  max-width: 800px;
  min-width: 300px;
  position: absolute;
  right: 10px;
  height: 80vh;
  top: 2% ;

}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainRhombus{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border: 4px solid black;
  rotate: 45deg ;

}
.logoImageContainer{
  position: absolute;
  rotate: -40deg;
}
.sideRhombus{
  width: 70px;
  height: 70px;
  animation: infinite 5s linear rotate;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  background: #f00;
}
.sideRhombus2{
  width: 70px;
  height: 70px;
  animation: infinite 5s linear rotate;
  border-radius: 10px;
 position: absolute;
 bottom: 0px;
 right: 0px;
  background: #f00;
}
.landing h2{

 display: inline-block;
  margin-left: 50px !important;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.landing h2 span{
  margin-left:20px; 

}
.landing h3{
  width: 90%;
  max-width: 500px;
  font-weight: 500;
  font-size: 1.25rem;
  padding-left: 50px;
  color: #181818;
  padding-top: 10px;
  animation: forwards 1s ease pop;

}
.logo{
  color: #000;
  padding-left: 10px;
  font-family: var(--font-inter)
}
.navbar ul{
  position: absolute;
  right: 10px;

  display: flex;
  width: 30%;
  max-width: 500px;
  justify-content: space-evenly;
  list-style: none;
}
.navbar li{
  position: relative;
  
  transform-origin: bottom left;
  display: inline-block;
  transition: all 0.5s ease ;
  cursor: pointer;
}
.navbar li:hover {

  color: #f00;
  
}
.navbar li:hover::after{
  transform: scaleX(1);
}
.navbar li::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 24, 24);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navbar{
  display: flex;
  flex-direction: row;
  width: 100vw;
  position: fixed;
  z-index: 20;
  top: 0px;
  left: 0px;
  height: 70px;
  border-bottom: 1px solid black;
  align-items: center;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  background: #fff !important;
}
@keyframes pop {
  from{
    transform: translateY(10%);
    opacity: 0;
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
  
}
@keyframes rotate {
  0%{
    rotate: 0deg;
  }
  50%{
    rotate: 180deg;
  }
  100%{
    rotate: 360deg;
  }

  
}